[[source]]
url = "https://nexus.makecodes.dev/repository/pypi-proxy/simple/"
verify_ssl = true
name = "pypi-proxy"

[packages]
mysqlclient = "*"
djangorestframework = "*"
django = "*"
virtualenvwrapper = "*"
django-mysql = "*"
django-json-widget = "*"
newrelic = "*"
datadog = "*"
sentry-sdk = "*"
django-extensions = "*"
django-dbml = "*"
pillow = "*"

[dev-packages]
black = "*"
pylama = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
