[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
djangorestframework = "*"
django = "==3.2"
isort = "*"
sentry-sdk = "*"
virtualenvwrapper = "*"
django-mysql = "*"
django-json-widget = "*"

[dev-packages]
pylama = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
